# Directories #
/out/*
/tmp/*

# Excluded Files #
rescomp.h

# Included Files #
!rom.bin


######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Eclipse
######################

.project
.cproject
